<!DOCTYPE html>
<!-- 
  This is the same application with two solutions, one with
  AngularJS and the other with React. 

  ONLY uncomment one or the other to see it working properly!

  Having both sets uncommented might end the internet as we know it
-->
<html ng-app="JobbedOutApp">
  <head>
    <title>Jobbed Out</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container" ui-view></div>

    <!-- START AngularJS solution -->
    <!--
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/jobsController.js"></script>
    -->
    <!-- END AngularJS solution -->

    <!-- START React solution -->
    <!-- Note: We don't really need jQuery but React doesn't have a way of making AJAX calls on its own -->
    <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="/javascripts/react.js"></script>
    <!-- END React solution -->
  </body>
</html>